body {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

.menuArriba,
.menuPrincipal {
    background-color: rgb(207, 177, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 15vh;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 15px;
}

.contenido {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 80vw; */
    margin:0 15vh;
}

.menuPrincipal h2 {
    margin: 10px;
}

.contenido {
    display: block;
    justify-content: center;
}

.tituloPrincipal,
.subTitulo {
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.imagen {
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
}

.tatwas {
    margin: 5px 0;
    clear: fixed;
    overflow: auto;
}

#img1,
#img3,
#img5 {
    float: right;
    margin-left: 10px;

}

#img2,
#img4 {
    float: left;

}